#userPage ul{
    list-style: none;
}

.row{
    padding: 20px;
}

caption{
    caption-side: top;
    text-align : center !important;
}

td,th{
    vertical-align: middle;
}
td a{
    display: block;
}